<div id="tableHeader">
  <div>
<!--    <mat-watchers-form-field id="searchContainer" class="ms-3">-->
<!--      <mat-label>{{ 'חיפוש' }}</mat-label>-->
<!--      <input matInput [ngModel]="criteria.keyword" (keyup)="search(searchInput.value, $event)" #searchInput="ngModel">-->
<!--      <div matSuffix class="d-flex">-->
<!--        <mat-icon (click)="resetSearch(searchInput)" *ngIf="searchInput.value || criteria.keyword">close</mat-icon>-->
<!--        <mat-icon (click)="search(searchInput.value)">search</mat-icon>-->
<!--      </div>-->
<!--    </mat-watchers-form-field>-->
    <ng-content select=".data-table-filters"></ng-content>
    <div *ngIf="activeSwitch">
      <mat-slide-toggle (change)="toggleActiveStatus($event.checked)" [checked]="isActive">{{ activeSwitch }}</mat-slide-toggle>
    </div>
    <app-side-filters (resetValues)="resetSearchFilters()" (searchSubmitted)="searchFilters($event)" [columns]="columns"></app-side-filters>
  </div>
  <div *ngIf="hasCheckColumn">
<!--    <mat-menu #actionMenu>-->
<!--      <div mat-menu-item (click)="openMultipleEdit.emit(true)" class="text-center">{{ 'edit' }}</div>-->
<!--    </mat-menu>-->
<!--    <button class="btn blue-btn" [matMenuTriggerFor]="actionMenu">{{ 'actions' }}</button>-->
  </div>
</div>
<p class="alert alert-success mb-3" *ngIf="savedItem">
  <span> {{ savedItem }}</span>
  <span>{{ 'saved_successfully' }}</span>
</p>
<app-pagination [data]="paginationData" *ngIf="items.length > 0"></app-pagination>
<p class="pbutton" (click)="resetSort()">אתחל מיון</p>
<table class="table table-responsive" [ngClass]="{ 'table-hover': isSelectable }">
	<thead>
	<tr>
		<th *ngIf="hasCheckColumn" class="pointer table-header">
			<mat-checkbox (change)="checkAll($event.checked)" [ngModel]="criteria.isCheckAll" *ngIf="items.length > 0 && !disableCheckAll"></mat-checkbox>
		</th>
		<th *ngFor="let column of columns" class="table-header">
      <div class="d-flex align-items-center">
        <span>{{ column.label }}</span>
        <div class="sort-container" *ngIf="column.sortable !== false">
          <div class="triangle-up" (click)="sort(column, 'desc')" [ngClass]="{ selected: isColumnSelected(column.name, 'desc') }"></div>
          <div class="triangle-down" (click)="sort(column, 'asc')" [ngClass]="{ selected: isColumnSelected(column.name, 'asc') }"></div>
        </div>
      </div>
		</th>
		<th class="table-header" *ngIf="hasActionsHeader">{{ 'פעולות' }}</th>
	</tr>
	</thead>
  <tbody>
    <ng-content></ng-content>
    <tr id="noItemsRow" *ngIf="items.length === 0">
      <td class="text-center" [attr.colspan]="columnLength">{{ ('no_items_to_display') }}.</td>
    </tr>
  </tbody>
</table>
