span {
	margin: 8px 0 0 4px;
	font-size: 14px;
}

.pagination {
	padding: 0;
}

.page-link {
  margin-left: 0;
  border-radius: 0 !important;
  border-color: #505050;
  padding: 9px;
  font-size: 20px;
  color: #575757;
}

.page-link:focus {
  box-shadow: initial;
  background: #fff;
}
.page-item {
  list-style: none;
}
.page-item.active .page-link {
	color: #fff;
}

.page-item.active .page-link {
	background-color: #676767;
}
