<div class="voting-form">
  <h2>טופס ספירת הצבעות</h2>

  <form>
    <mat-form-field class="form-group">
      <mat-label>הצבעה למועמד</mat-label>
      <mat-select name="candidateId" [(ngModel)]="formData.candidateId">
        <mat-option *ngFor="let candidate of candidatesSelect" [value]="candidate.id">
          {{ candidate.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button (click)="submitForm('candidate')" type="button" [disabled]="!formData.candidateId">הוסף הצבעה למועמד</button>

    <mat-form-field class="form-group mt-3">
      <mat-label>הצבעה לרשימה</mat-label>
      <mat-select name="partyId" [(ngModel)]="formData.partyId">
        <mat-option *ngFor="let party of partiesSelect" [value]="party.id">
          {{ party.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button (click)="submitForm('party')" type="button" [disabled]="!formData.partyId">הוסף הצבעה לרשימה</button>
  </form>
</div>
